<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form p-10 text-white">
            <form action="/edit" method="post">
                <input name="title"  value="<%= filename %>"   class="block w-full rounded-md outline-none px-5 py-2 mt-2  bg-zinc-800"  type="text" placeholder="Title"/>
                <textarea name="desc"  
                    class="block w-full rounded-md outline-none px-5 py-2 mt-2 resize-none bg-zinc-800"   
                    placeholder="Write your task"><%= data %>
                </textarea>
                <div class="flex  min-w-72 text-center mt-2">
                    <input type="submit" class="bg-blue-600 px-5 py-2 rounded-md" value="Submit"/>   
                    <a href="/"  class="bg-blue-600 px-5 py-2 mx-2 rounded-md">Cancel</a>       
                </div>
                      
            </form>
        </div>    
       
    </div>
</body>
</html>